<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>Urmart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if form.errors %}
        <div class="error_message">
            訂單建立失敗，請檢查輸入欄位是否有誤
        </div>
    {% endif %}
    {% if error_message %}
        <div class="error_message">{{ error_message }}</div>
    {% endif %}
    {% if message %}
        <div class="success_message">{{ message }}</div>
    {% endif %}

    <div class="container-fluid custom-w-90" style="margin-bottom:100px">

        <form action="" method="post" style="margin-top:20px">
            {% csrf_token %}
            <div style="display: flex">
                <div style="display: flex;height:35px; flex-basis: 60%">
                    {{ form.product }}
                    {{ form.quantity }}
                    <button style="margin-left:10px;font-size:20px;padding:0;width:35px" type="submit" class="w3-button w3-circle w3-white w3-border w3-border-grey w3-text-grey">+</button>
                </div>
                <div style="flex-basis: 60%">
                    <div style="margin-bottom:10px">{{ form.customer_id }}</div>
                    {{ form.is_vip }}{{ form.is_vip.label }}
                </div>
            </div>
        </form>

        <div>商品列表</div>
        <table style="width:90%; margin-top:5px">
            <tr style="background-color:grey; color:white; height:30px">
                <td>Product Id</td>
                <td>Stock_pcs</td>
                <td>price</td>
                <td>shop_id</td>
                <td>vip</td>
            </tr>
            {% for product in products %}
            {% if forloop.counter0|divisibleby:2 %}
            <tr style="background-color:white; height:30px">
            {% else %}
            <tr style="background-color:lightgrey; height:30px">
            {% endif %}
               <td>{{ product.id }}</td>
               <td>{{ product.stock_pcs }}</td>
               <td>{{ product.price }}</td>
               <td>{{ product.shop_id }}</td>
               <td>
                   {% if product.vip %}
                   <input checked type="checkbox" onclick="return false;"/>
                   {% else %}
                   <input type="checkbox" onclick="return false;"/>
                   {% endif %}
               </td>
            </tr>
            {% endfor %}
        </table>


        <div style="margin-top:20px">訂單記錄</div>
        <table style="width:100%; margin-top:5px">
            <tr style="background-color:grey; color:white; height:30px">
                <td>Order ID</td>
                <td>product_id</td>
                <td>qty</td>
                <td>price</td>
                <td>shop_id</td>
                <td>Customer ID</td>
            </tr>
            {% for order in orders %}
            {% if forloop.counter0|divisibleby:2 %}
            <tr style="background-color:white; height:30px">
            {% else %}
            <tr style="background-color:lightgrey; height:30px">
            {% endif %}
               <td>{{ order.id }}</td>
               <td>{{ order.product_id }}</td>
               <td>{{ order.quantity }}</td>
               <td>{{ order.price }}</td>
               <td>{{ order.shop_id }}</td>
               <td>{{ order.customer_id }}</td>
               <td style="padding:5px;background-color:white;text-align:left;border:none">
                   <a href="order/{{order.id }}/delete" style="margin-left:10px;font-size:20px;padding:0;width:35px" class="w3-button w3-circle w3-white w3-border w3-border-grey w3-text-grey">-</a>
               </td>
        </tr>
            {% endfor %}
        </table>

        <div style="margin-top:20px;">TOP 3</div>
        <div style="display:flex">
            {% for product in top_3 %}
            <div class="top-3">{{ product }}</div>
            {% endfor %}
        </div>

        <div style="margin-top:20px">銷售報表</div>
        <table style="width:90%; margin-top:5px">
            <tr style="background-color:grey; color:white; height:30px">
                <td>館別</td>
                <td>總銷售金額</td>
                <td>總銷售數量</td>
                <td>總訂單數量</td>
                <td>報表更新時間</td>
            </tr>
            {% for report in reports %}
            {% if forloop.counter0|divisibleby:2 %}
            <tr style="background-color:white; height:30px">
            {% else %}
            <tr style="background-color:lightgrey; height:30px">
            {% endif %}
               <td>{{ report.shop_id }}</td>
               <td>{{ report.total_amount }}</td>
               <td>{{ report.total_quantity }}</td>
               <td>{{ report.order_count }}</td>
               <td>{{ report.update_datetime }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>