.custom-w-90 {
 width: 90%;
}

.error_message {
 padding-left:20px;
 background-color:#FFA042;
 line-height:40px;
 vertical-align：middle
}

.success_message {
 padding-left:20px;
 background-color:#79FF79;
 line-height:40px;
 vertical-align：middle
}

.top-3 {
 margin-top:5px;
 margin-right:10px;
 border:1px solid #666;
 padding:10px;
 border-radius:10px;
 background-color:lightgrey
}

td {
 text-align: center;
 vertical-align: middle;
 border:1px black solid;
}